pydantic~=2.11.7
langchain-core~=0.3.69
langgraph~=0.5.3
dishka~=1.6.0
faststream~=0.5.48
playwright~=1.53.0
beautifulsoup4~=4.13.4
SQLAlchemy~=2.0.41
polars~=1.31.0
alembic~=1.16.4
asyncpg~=0.30.0
python-dotenv~=1.1.1
pydantic-settings~=2.10.1